<launch>

  <!-- Upload the thruster model for every thruster in the names param -->
  <rosparam command="load" file="$(find auv_model)/dummy_robot/dummy_thruster.yaml"
	    param="thruster1" />

  <rosparam command="load" file="$(find auv_model)/dummy_robot/dummy_thruster.yaml"
	    param="thruster2" />

  <rosparam command="load" file="$(find auv_model)/dummy_robot/dummy_thruster.yaml"
	    param="thruster3" />

  <rosparam command="load" file="$(find auv_model)/dummy_robot/dummy_thruster.yaml"
	    param="thruster4" />

  <rosparam command="load" file="$(find auv_model)/dummy_robot/dummy_thruster.yaml"
	    param="thruster5" />

  <rosparam command="load" file="$(find auv_model)/dummy_robot/dummy_thruster.yaml"
	    param="thruster6" />
 
</launch>