<launch>

  <!-- These are dummy params. Only using this to check which thrusters exist from some nodes -->
  <rosparam command="load" file="$(find auv_model)/seabee3/seabotix_btd150.yaml"
	    param="thruster1" />

  <rosparam command="load" file="$(find auv_model)/seabee3/seabotix_btd150.yaml"
	    param="thruster2" />

  <rosparam command="load" file="$(find auv_model)/seabee3/seabotix_btd150.yaml"
	    param="thruster3" />

  <rosparam command="load" file="$(find auv_model)/seabee3/seabotix_btd150.yaml"
	    param="thruster4" />

  <rosparam command="load" file="$(find auv_model)/seabee3/seabotix_btd150.yaml"
	    param="thruster5" />

  <rosparam command="load" file="$(find auv_model)/seabee3/seabotix_btd150.yaml"
	    param="thruster6" />
  
</launch>