<launch>
  
  <arg name="model_ns" default="model" />
  <arg name="robot" default="dummy_robot" />
  
  <group ns="$(arg model_ns)" >
    
    <!-- Upload the dynamics model for the robot -->
    <rosparam command="load" file="$(find auv_model)/$(arg robot)/physics_model.yaml" 
	      param= "physics" />
    
    <!-- Upload the thruster models -->
    <include file="$(find auv_model)/launch/$(arg robot)_thruster_models.launch" >
    </include>

  </group>
</launch>