<launch>
 
  <arg name="robot" default="dummy_robot" />
  <arg name="model_ns" default="model" />
  <arg name="visualize" default="false" />
    
  <group ns="$(arg model_ns)" >
    
    <!-- Upload the dynamics model for the robot -->
    <rosparam command="load" file="$(find auv_model)/$(arg robot)/dynamics.yaml" 
	      param= "dynamics" />
    
    <!-- Upload the thruster models -->
    <group ns="thrusters" >
      <include file="$(find auv_model)/launch/$(arg robot)_thruster_models.launch" >
      </include>
    </group>

    <!-- Upload structures and visualization data in URDF as a text string (robot_state_publisher required format) -->
    <param name="robot_description" textfile="$(find auv_model)/$(arg robot)/structures.urdf" />
    <!-- This node will publish the static transforms in the URDF file above -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="$(arg robot)_structures_publisher" />
    
  </group>

  <!-- Launch rviz with robot visualization config -->
  <include file="$(find uscauv_visualization)/launch/auv_model_visualization.launch"
	   if="$(arg visualize)" />
  
</launch>